@import url("normalize.css");
@import url("foundation.css");

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: -webkit-linear-gradient(bottom, white, #eee);
    background-image: linear-gradient(bottom, white, #eee);
}

.main {
    text-align: center;
    background-image: -webkit-linear-gradient(top, white, #ccc);
    background-image: linear-gradient(top, white, #ccc);
}

.timer {
    padding-top: 100px;
}

.timer input {
    text-align: center;
}

.timer-date input {
    /*width: 5.2em;*/
}

.timer-time input {
    /*width: 2.6em;*/
}

#timer-countdown strong {
    display: inline-block;
    width: 1.3em;
}


#timer-countdown em {
    color: gray;
    margin-right: .5em
}

#timer-countdown input {
    display: inline;
    width: 3em;
}