@import url("normalize.css");
@import url("foundation.css");
@import url("foundation-datepicker.css");

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: -webkit-linear-gradient(bottom, white, #eee);
    background-image: linear-gradient(bottom, white, #eee);
}

.main {
    text-align: center;
    background-image: -webkit-linear-gradient(top, white, #ccc);
    background-image: linear-gradient(top, white, #ccc);
}

.timer {
    padding-top: 100px;
}

.timer input {
    text-align: center;
}

.timer input.time {
    width: 1.3em;
}