@import url("normalize.css");
@import url("foundation.css");

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: -webkit-linear-gradient(bottom, white, #eef);
    background-image: linear-gradient(bottom, white, #eef);
}

.main {
    text-align: center;
    background-image: -webkit-linear-gradient(top, white, #ccf);
    background-image: linear-gradient(top, white, #ccf);
}

.timer {
    padding-top: 100px;
    background: #aaf;
}

.timer input {
    text-align: center;
}

.timer-date select {
    display: inline;
    width: 6em;
}

.timer-date input {
    display: inline;
    width: 5.2em;
}

#timer-countdown strong {
    display: inline-block;
    width: 1.3em;
}

#timer-countdown em {
    color: gray;
    margin-right: .5em
}

#timer-countdown input {
    display: inline;
    width: 3em;
}

.save-prop {
    visibility: hidden;
}

.save-row:hover .save-prop {
    visibility: visible;
}