<header><%= title %></header>
<section id="numbers"><%= h %>:<%= m %>:<%= s %></section>
<section id="numbersEdit" class="hidden">
  <input name="hours" value="<%= h %>">:<input name="minutes" value="<%= m %>">:<input name="seconds" value="<%= s %>">
</section>