<div class="large-4 columns">
     <div id="google_comments"></div>
</div>
<div class="large-4 columns">
    <div id="fb_comments"></div>
</div>
<div class="large-4 columns">
    <div id="vk_comments"></div>
</div>