        <span class="data-view time">
            <%= h %>:<%= m %>:<%= s %>
        </span>
        <span class="data-edit hide">
            <input class="time" name="hours" value="<%= h %>">:<input class="time" name="minutes" value="<%= m %>"
                >:<input class="time" name="seconds" value="<%= s %>">
        </span>