<h3><%= user_name %></h3>
<% if (!logged_in) { %>
<button class="alert" id="authorize-button">Authorize</button>
<% }else {%>
<button class="small secondary" id="logout">Logout from <%= api_name %></button>
<% } %>